.contactPage{
    width: 100%;
    min-height: 100%;
    background-color: white;
    font-family: 'proxima-nova';

    // Mobile
    @media only screen and (max-width: 800px){
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 140px 20px 0 20px;
            margin: 0;
            .content{
                form{
                    margin: 0;
                    input{
                    }
                    button{
                        margin: 0 auto;
                    }
                }
                .map{
                    margin: 0 auto;
                }
            }
        }
    }

    // Desktop
    @media only screen and (min-width: 800px){
        .container{
            .content{
                form{
                    margin-right: 50px;
                }
            }
        }
    }


    .container{
        padding: 140px 150px 40px 150px;
        .title{
            .header{
                font-size: 30px;
                hr{
                    @include underline(229px, -10px);
                }
            }
        }
        .content{
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;

            .map{
                .img{
                    height: 442px;
                    // padding: 20px;
                }
                .address{
                    margin-top: 34px;
                }
            }
            .form{
                width: 529px;
                form{
                    outline: none;
                    display: flex;
                    flex-direction: column;
                    .text-input{
                        background-color: #F5F5F5;
                        height: 60px;
                        padding: 0 21px;
                        margin-bottom: 20px;                    
                        border: none;
                        font-size: 16px;
                    }
                    textarea{
                        background-color: #F5F5F5;
                        padding: 20px;
                        margin-bottom: 20px;
                        height: 200px;
                        border: none;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 16px;

                    }
                    button{
                        border-style: none;
                        width: 140px;
                        height: 50px;
                        background-color: #EE4367;
                        color: white;
                        margin-bottom: 20px;
                        font-size: 16px;
                    }
                    button:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}